* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* html {
    scroll-behavior: smooth;
}
* body {
    background-color: white;
    color: black;
}
/*menu*/
.nav {
    width: 100%;
    background-color: white;
    padding: 10px 0;
}
.nav ul {
    justify-content: space-evenly;
    display: flex;
}
.nav li {
    display: inline;
}
.nav li a {
    flex: 1;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}
.nav li a:hover {
    background: #bdd99f;
}
/* Sản phẩm */
.info {
    text-align: left;
    max-width: 600px;
}
.product-detail {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}
.product-detail img {
    width: 650px;
    height: 750px;
    border-radius: 10px;
    border-radius: 10px;
}
.product-detail h2 {
    font-size: 50px;
    margin-top: 15px;
}
.product-detail h3{
    color: red;
    font-size: 50px;
}
.product-detail p {
    font-size: 30px;
    margin-top: 20px;
    color: black;
}
.product-detail .buy-btn {
    margin-top: 20px;
}
.buy-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 30px;
    width: 100%;
    max-width: 250px;
}
.buy-btn:hover {
    background-color: darkred;
}
.rating {
    color: gold;
}
/* Form thanh toán */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup:target {
    display: flex;
}
.popup-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 550px;
    position: relative;
    font-size: 30px;
}
.popup-content2 {
    background-color:bisque;
    padding: 10px;
    border-radius: 10px;
    width: 900px;
    height: 200px;
    position: relative;
    font-size: 30px;
    text-align: center;
}
.popup-content1 h2 {
    text-align: center;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.payment-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.payment-details label {
    display: block;
    margin-top: 5px;
}
.payment-details input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.expiry-cvv {
    display: flex;
    justify-content: space-between;
}
.expiry-cvv div {
    width: 48%;
}
.pay-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
}
